.hide-pc{display:none !important;}
#adv-popup .background {
    display: none;
    position: fixed;
    height: 100% !important;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 9999999;
    opacity:.8;
}

#adv-popup .banner {
    display: none;
    position: fixed;
    z-index: 99999991;
}

#adv-popup .close {
    font-size: 25px;
    right: 0;
    top: 0;
    color: #f00;
    font-weight:bold;
    position: absolute;
    opacity: 1;
    text-shadow: none;
    cursor: pointer;
}

#adv-popup .banner img {
    max-height: 500px;
    max-width: 90%;
    display: block;
    margin: auto;
}

body {
    font: 14px/1.5 'Roboto',Arial,sans-serif;
    background: #fff;
    min-width:1200px;
}

.container {
    width: 1180px !important;
    padding: 0;
    max-width: 9999999px;
}

a {
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
}

.row {
    margin: 0 -10px;
}

.row [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.form-group {
    margin-bottom: 1rem !important;
}

.form-control {
    font-size: 14px;
}

#top {
    height: 30px;
    background: #000000;
    line-height: 30px;
}

.icon,#social-right-fixed .icons {
    display: inline-block;
    background-image: url(../images/sprite.png?v=2.1);
    background-repeat: no-repeat;
    vertical-align: middle;
}

.services-top .icon {
    width: 25px;
    height: 30px;
    vertical-align: middle;
}

.icon-service-1 {
    background-position: 0 2px;
}

.icon-service-2 {
    background-position: -35px 4px;
}

.icon-service-3 {
    background-position: -74px 4px;
}

.icon-service-4 {
    background-position: -114px 4px;
}

.icon-service-5 {
    background-position: -150px 4px;
}

.services-top a {
    display: block;
    float: left;
    margin-right: 20px;
    font-size: 13px;
    line-height: 30px;
    height: 30px;
    color: #fff;
}

.main-search #text-search {
    width: 100%;
    border: none;
    height: 35px;
    margin: 0;
    padding: 0 10px;
    font-size: 13px;
    border-radius: 3px;
    outline: none;
}

.main-search .search-btn {
    position: absolute;
    right: 5px;
    top: 0;
    height: 35px;
    background: none;
    border: none;
    color: #999;
    outline: none;
}

.autocomplete-suggestions {
    position: absolute;
    width: 100%;
    border: solid 1px #ddd;
    left: 0;
    margin-top: 2px;
    max-height: 300px;
    overflow: auto;
    display: none;
    background: #fff;
    z-index: 999;
}

.autocomplete-suggestions a {
    display: block;
    padding: 10px;
    overflow: hidden;
}

.autocomplete-suggestions a img {
    width: 60px;
    float: left;
}

.autocomplete-suggestions a .info {
    display: block;
    margin-left: 65px;
}

.autocomplete-suggestions a .info .name {
    display: block;
    color: #333;
}

.autocomplete-suggestions a .info .price {
    color: #e00;
}

.main-search {
    position: relative;
    float: left;
    margin: 29px 0;
}

.autocomplete-suggestions a:hover {
    background-color: #f5f5f5;
}

#header {
    height: 95px;
}

#header .logo {
    float: left;
    margin-top: 22px;
    margin-right: 20px;
}

#header-right {
    float: right;
    padding-top: 14px;
    text-align: center;
}

.form-search {
    border: solid 1px #ddd;
    width: 400px;
    border-radius: 28px;
    overflow: hidden;
}

.red {
    color: #ee0b0b;
}

#top .login, #top .cart {
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
}

nav {
    height: 46px;
    background: #e80104;
    line-height: 46px;
    color: #fff;
}
#nav-right {
    float: left;
    position: relative;
}

#nav-right .item{
    float:left;
    margin-right: 30px;
}

#nav-right .icon {
    width: 42px;
    height: 46px;
}

.icon-nav-right-1 {
    background-position: 0 -36px;
}

.icon-nav-right-2 {
    background-position: -55px -39px;
}

.icon-nav-right-3 {
    background-position: -106px -38px;
}

.icon-nav-right-4 {
    background-position: -155px -39px;
}


.icon-title-deal-nav {
    width: 260px;
    height: 54px;
    background-position: 0 -110px;
    margin-top: -10px;
    float: right;
}

nav {
    height: 46px;
    background: #e80104;
    line-height: 46px;
    color: #fff;
}
nav.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}
nav.fixed #main-menu > .list{
    display:none;
}
#header.fixed .main-search {
    position: fixed;
    top: 5px;
    z-index: 999;
    margin: 0;
    margin-left: 221px;
}

#header.fixed .main-search .form-search {
    width: 524px;
    border: none;
}
#main-menu {
    float: left;
    width: 220px;
}

#main-menu:hover > .list{
    display:block !important;
}

#main-menu > .title {
    font-weight: bold;
    font-size: 15px;
    position: relative;
    padding: 0 20px;
    z-index: 9;
    overflow: hidden;
    width: 217px;
    margin-left: -8px;
}

#main-menu > .title:after {
    content: '';
    display: block;
    box-shadow: 3px 0px 3px 0px #b30e10;
    width: 5px;
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
}

#main-menu > .title:before {
    content: '';
    display: block;
    box-shadow: -3px 0px 3px 0px #b30e10;
    width: 5px;
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
}

#main-menu > .list {
    position: absolute;
    width: 200px;
    background: #fff;
    z-index: 99;
    border: solid 1px #ddd;
    height: 452px;
}

#main-menu .item {
    height: 30px;
    padding: 0 10px;
    border-top: solid 1px #eee;
}
#main-menu .item > a > .fa:before{
    content:"\f005";
}
#main-menu .item:hover {
    background: #f3f3f3;
}

#main-menu .item:hover .sub-menu{
    display:block;
}
#main-menu .sub-menu a {
    display: block;
    line-height: 1.7;
}

#main-menu .sub-menu .cat2 {
    color: #e80104;
    font-weight: bold;
    margin-top: 15px;
}
#main-menu .item > a {
    line-height: 30px;
    color: #333;
    display: block;
    font-size: 13px;
}

#main-menu .item > a .fa {
    position: relative;
    vertical-align: middle;
    margin: 0;
    right: 0;
    margin-right: 5px;
    width: 15px;
}

#main-menu .item .fa {
    position: absolute;
    right: 10px;
    margin-top: -23px;
    color: #333;
}
.col_sub_item_menu {
    width: 20%;
    float: left;
    padding: 0 10px;
}
#main-menu .item:first-child {
    border: none;
}

#main-menu .sub-menu {
    position: absolute;
    display: none;
    left: 199px;
    background: #f3f3f3;
    min-height: calc(100% + 1px);
    top: 0;
    width: 980px;
}

#nav-right a {
    color: #fff;
    font-weight: bold;
    display: block;
}

.icon-title-deal-nav {
    width: 260px;
    height: 54px;
    background-position: 0 -110px;
    margin-top: -10px;
    float: right;
}

#header-right .item {
    border: solid 1px #ddd;
    border-radius: 5px;
    height: 62px;
    display: block;
    float: left;
    margin-left: 15px;
    padding: 0 25px;
    position: relative;
}

#header-right .hotline .fa {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    border: solid 1px #ddd;
    left: -20px;
    top: 9px;
    border-radius: 50%;
    line-height: 36px;
    text-align: center;
    font-size: 25px;
    color: #e80104;
    background: #fff;
}

#header-right .hotline b {
    display: block;
    color: #e80104;
    font-size: 20px;
    font-style: italic;
}

#header-right .item.hotline {
    padding-top: 5px;
}

.icon-buildpc {
    background-position: -217px -54px;
    width: 33px;
    height: 33px;
    float: left;
    margin: 18px 10px 0 -10px;
}

#header-right .buildpc b {
    font-size: 17px;
    display: block;
    width: 111px;
    font-style: italic;
    margin-top: 4px;
}

#top-homepage {
    padding-top: 2px;
}

#top-homepage #slider {
    margin-left: 202px;
    width: 696px;
    float: left;
}

#banner-right-slider {
    float: right;
    width: 280px;
}

#top-homepage #slider #sync1 {
    height: 397px;
}

#top-homepage #slider #sync2 {
    background: #fff;
    border: solid 1px #ddd;
    height: 53px;
    overflow: hidden;
}

#sync2 .item {
    text-align: center;
    height: 51px;
    display: table;
    width: 100%;
}

#sync2 .item span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    font-size: 12px;
    text-transform: uppercase;
}

#sync2 .owl-item {
    border-right: solid 1px #e8e8e8;
}

#sync2 .owl-item.current {
    font-weight: bold;
    background: #e80104;
    color: #fff;
}

#img-detail #sync2 .owl-item.current .item {
    border:solid 1px #e00;
    background:none;
}

#img-detail #sync2 .owl-item.current{
    background:none;
}

.has-nav {
    position: relative;
}

.has-nav .owl-nav {
    margin: 0;
    color: #000;
}

.has-nav .owl-nav > button {
    opacity: 1;
    position: absolute;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #000;
    z-index: 9;
    transition: all .4s ease;
    top: 50%;
    margin-top: -20px;
    background: rgba(255, 255, 255, 0.5) !important;
    outline: none;
}

.has-nav .owl-nav > button:hover {
    opacity: 0.8;
    color: #666;
}

.has-nav .owl-nav .owl-prev {
    left: -20px;
    opacity: 0;
}

.has-nav .owl-nav .owl-next {
    right: -20px;
    opacity: 0;
}

.has-nav:hover .owl-nav .owl-prev {
    left: 10px;
    opacity: 1;
}

.has-nav:hover .owl-nav .owl-next {
    right: 10px;
    opacity: 1;
}

#cat1 .fa:before {
    content: "\f109" !important;
}

#cat2 .fa:before {
    content: "\f11b" !important;
}

#cat3 .fa:before {
    content: "\f2d0" !important;
}

#cat4 .fa:before {
    content: "\f179" !important;
}

#cat5 .fa:before {
    content: "\f233" !important;
}

#cat6 .fa:before {
    content: "\f108" !important;
}

#cat7 .fa:before {
    content: "\f11c" !important;
}

#cat8 .fa:before {
    content: "\f02f" !important;
}

#cat9 .fa:before {
    content: "\f1c0" !important;
}

#cat10 .fa:before {
    content: "\f030" !important;
}

#cat11 .fa:before {
    content: "\f025" !important;
}

#cat12 .fa:before {
    content: "\f1eb" !important;
}

#cat13 .fa:before {
    content: "\f0b1" !important;
}

.custom-nav .owl-nav {
    margin: 0 !important;
}

.custom-nav .owl-nav button {
    position: absolute;
    color: #999 !important;
    top: 50%;
    transition: all 0.2s ease;
    outline: none;
    margin: -30px 0 0 !important;
    z-index: 99999;
    width:42px;
    height:60px;
    background-image: url(../images/sprite.png) !important;
    background-repeat: no-repeat !important;
    opacity: .5 !important;
}

.custom-nav .owl-nav button:hover{

}

.custom-nav .owl-nav button i {
    display:none !important;
}

.custom-nav .owl-nav .owl-prev {
    left: 0;
    background-position: -250px -194px !important;
}

.custom-nav .owl-nav .owl-next {
    right: 0;
    background-position: -310px -194px !important;
}

.custom-nav .owl-nav button:hover {
    opacity: 1 !important;
    background-color: transparent !important;
}

#banner-right-slider .slider-small {
    height: 170px;
    margin-bottom: 2px;
}

#banner-right-slider .static-small {
    margin-bottom: 2px;
}

#home-contact {
    margin: 15px 0;
}

#home-contact {
    height: 40px;
    line-height: 40px;
    background: #000000;
    margin-bottom: 15px;
}

#home-contact .title {
    background: #e80104;
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
    padding-right: 5px;
}

#home-contact .marquee {
    margin-left: 250px;
    height: 40px;
}

#home-contact .title:after {
    content: '';
    display: block;
    width: 0;
    border: solid 20px transparent;
    border-left-color: #e80104;
    position: absolute;
    right: -40px;
    top: 0;
}

.p-item {
    overflow: hidden;
    float: left;
    width: 20%;
    position: relative;
    opacity: 1;
    transition: all 0.5s ease;
    border-bottom: solid 1px #eee;
    border-right: solid 1px #eee;
    font-size: 13px;
}

.p-bottom{
    display:none;
}

.owl-carousel .p-item{
    width:100% !important;
}

.p-item:hover .p-container {
    box-shadow: 0 0 0 1px #ddd inset;
}
.p-container {
    padding: 10px;
    overflow: hidden;
}

.p-img {
    display: block;
    position: relative;
    padding-top: 90%;
    margin-bottom: 5px;
}

.p-brand-img {
    display: block;
    height: 24px;
    position: absolute;
    margin-top: -29px;
    width: auto !important;
}

#product-history .p-brand-img {
    height: 18px;
    margin-top: -20px;
}

.p-icon-text {
    background: #efd130;
    font-size: 12px;
    font-weight: bold;
    line-height: 25px;
    padding: 0 10px;
    display: block;
    position: absolute;
    z-index: 9;
    top: 10px;
    left: 10px;
    border-radius: 2px;
}

.p-img img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    width: auto !important;
    height: auto !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: auto;
}

.p-price,.p-price-full {
    font-weight: bold;
    color: #ec0000;
    display: block;
    line-height: 16px;
    font-family: 'Oswald', sans-serif;
    font-size: 26px;
    font-style: italic;
    margin-top: -28px;
    position: absolute;
    white-space: nowrap;
}

.price-border {
    text-shadow: 3px 0 0 #ffffff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff, 2px 2px #fff, -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
    display: block;
}
.price-shadow {
    position: absolute !important;
    top: 0;
    left: 0;
    text-shadow: 0 0 6px #000000;
    z-index: 1;
    display: block;
}
.p-price-full{
    position:relative;
    margin-top: 20px;
    height: 40px;
    display: inline-block;
}
.p-name {
    color: #333;
    display: block;
    line-height: 16px;
    height: 32px;
    overflow: hidden;
    margin: 5px 0 8px 0;
    font-size: 13px;
}

.p-old-price {
    text-decoration: line-through;
    color: #888;
    height: 15px;
    display: inline-block;
    overflow: hidden;
}

.p-discount {
    font-weight: bold;
    background: url(../images/sprite.png) -313px 0 no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}

.p-offer {
    color: #d00306;
    overflow: hidden;
    margin-top: 10px;
}

.pre-line{
    white-space:pre-line;
}

.product-list {
    border-top: solid 1px #eee;
    border-left: solid 1px #eee;
    overflow: hidden;
}

.p-bottom .stock {
    float: left;
}

.p-bottom .p-buy {
    float: right;
    cursor: pointer;
}

.p-bottom .stock.instock {
    color: #28b52d;
}

.special-product-home .p-item {
    width: 25%;
}

.tab .title-tab {
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #e80104;
    margin-bottom: 3px;
}

.tab .title-tab .item {
    display: block;
    font-size: 18px;
    float: left;
    padding: 0 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.tab .title-tab .item.active {
    background: #e80104;
    color: #fff;
    border-radius: 4px 4px 0 0;
}

.js-content-tab {
    display: none;
}

.js-content-tab.active {
    display: block;
}


.article-list .title-list .h-title {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    line-height: inherit;
    float: left;
}

.article-list .title-list {
    border-bottom: solid 1px #eee;
    height: 38px;
    line-height: 38px;
}

.article-list .title-list .viewall {
    float: right;
    color: #12a75e;
}

.article-list .list-item img {
    float: left;
    width: 140px;
}

.article-list .list-item .item {
    overflow: hidden;
    display: block;
    padding: 10px 0;
}
.article-list.home-hot .item{
    padding:7px 0;
}
.article-list .list-item .info {
    margin-left: 150px;
}

.article-list .list-item .name {
    display: block;
    color: #333;
    font-weight: bold;
}

.article-list .list-item .time {
    color: #888;
}

.article-list.home-hot .item img {
    width: 80px;
}
.article-list.home-hot .h-title {
    color: #e80104;
    font-size: 20px;
}
.article-list.home-hot .item .info {
    margin-left: 90px;
}
.article-list.home-hot .name{
    font-weight:normal;
}
.article-list.home-other-news .item img {
    width: 50%;
}

.article-list.home-other-news .item .info {
    margin-left: 52%;
}
.article-list .viewall{
    text-align:right;
    display:block;
    color:#e80104;
}
.product-list-home .h-title, .title-block-common {
    overflow: hidden;
    border-bottom: solid 2px #e80104;
    height: 40px;
    line-height: 40px;
    margin-bottom: 5px;
}

.product-list-home .h-title h2,.title-block-common h2,.title-block-common h1 {
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 40px;
    background: #e80104;
    color: #fff;
    border-radius: 5px 5px 0 0;
    padding: 0 20px;
    font-weight: bold;
    position: relative;
    margin-right: 20px;
}
.product-list-home .h-title h2:after,.title-block-common h2:after,.title-block-common h1:after {
    content: '';
    display: block;
    line-height: 40px;
    background: #e80104;
    width: 18px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -7px;
    transform: skewX(21deg);
    border-radius: 0 5px 0 0;
}
.product-list-home .h-title h2:before,.title-block-common h2:before,.title-block-common h1:before {
    content: '';
    display: block;
    line-height: 40px;
    background: #ffabac;
    width: 15px;
    height: 40px;
    position: absolute;
    top: 8px;
    right: 0;
    margin-right: -13px;
    transform: skewX(13deg);
    border-radius: 0 5px 0 0;
}
.product-list-home .sub_cat_title {
    float: left;
    line-height: 15px;
    margin-top: 14px;
}

.product-list-home .sub_cat_title a {
    display: block;
    float: left;
    border-left: solid 1px #ddd;
    padding: 0 10px;
}

.product-list-home .h-title .viewall, .title-block-common .viewall {
    float: right;
}

.viewall {
    color: #e80104;
}

.viewall i {
    font-weight: bold;
}

.product-list-home .sub_cat_title a:first-child {
    border: none;
}
.product-list.has-banner {
    margin-left: 16.66699%;
}

.product-list-home .banner {
    float: left;
    width: 16.66699%;
    padding-right: 5px;
}

.product-list-home .banner img {
    display: block;
    width: 100%;
    height: 536px;
}

.product-list.has-banner .p-item:nth-child(n+11) {
    display: none;
}
.product-list-home .p-item {
    width: 16.6669%;
}
.product-list-home .product-list.has-banner .p-item{
    width:20%;
}

#brand-footer {
    border: solid 1px #ddd;
    padding: 10px 30px;
}
#brand-footer .item{
    border:solid 1px #eee;
}
#brand-footer .item img {
    width: auto;
    height: 40px;
    display: block;
    margin: auto;
}

#brand-footer .owl-nav .owl-prev {
    left: -30px;
}
#brand-footer .owl-nav .owl-next {
    right: -30px;
}
#top-footer .fanpage {
    width: 450px;
    float: left;
    overflow: hidden;
}

#top-footer .box-right {
    margin-left: 460px;
    border: solid 1px #ddd;
    overflow: hidden;
}

#top-footer .box-right .item {
    width: 50%;
    float: left;
    padding: 10px;
}

#top-footer .box-right .item .title {
    text-transform: uppercase;
    font-weight: bold;
    color: #e80104;
    font-size: 18px;
    margin-bottom: 10px;
}

.icon-regist-chanel-youtube {
    width: 70px;
    height: 20px;
    background-position: -224px -1px;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#toTop {
    position: fixed;
    right: 10px;
    bottom: 100px;
    z-index: 99;
    cursor: pointer;
    background: #ccc;
    color: #fff;
    font-size: 22px;
    opacity: .3;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 2px;
}

#toTop:hover {
    opacity: 1;
}

.icon-payment {
    width: 208px;
    height: 71px;
    background-position: -3px -188px;
}

.icon-bct {
    width: 144px;
    height: 59px;
    background-position: -276px -110px;
}

footer {
    background: #e80104;
    color: #fff;
    overflow: hidden;
    clear: both;
    margin-top: 15px;
    padding-top: 30px;
}

footer .col-info {
    width: 20%;
    float: left;
}

footer .col-info .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 8px;
}

footer .col-info .content a {
    display: block;
    color: #fff;
}

.newsletter {
    margin-top: 20px;
}

.newsletter button {float: right;font-size: 14px;background: #333;border-color: #222;}

.newsletter input {
    float: left;
    width: 185px;
}

#copyright {
    text-align: center;
    font-size: 12px;
    border-top: dashed 1px #ea6464;
    margin-top: 15px;
    padding: 10px 0;
}

#copyright * {
    color: #fff;
}
#tags-footer {
    background: #000000;
    color: #fff;
    padding: 10px 0;
}

#tags-footer * {
    color: #ffffff;
}

#tags-footer a {
    padding: 0 5px;
    border-left: solid 1px #d26869;
}

#tags-footer a:nth-child(1) {
    border: none;
}
#breadcrumb{
    width:100%;
    display : inline-block;
}
#breadcrumb > div {
    display: inline-block;
    padding: 10px 0;
}

#breadcrumb > div a {
    color: #333;
}

#breadcrumb h1 {
    margin: 0;
    display: inline-block;
    font-size: inherit;
    color: #333;
    font-weight: normal;
}

#content_left {
    width: 210px;
    float: left;
    margin-right: 12px;
}
.box_left {
    margin-bottom: 10px;
    overflow: hidden;
}
.title_box_left {
    margin: 0;
    font-size: 16px;
    padding: 0 10px;
    line-height: 36px;
    background: #222;
    color: white;
    font-weight: 500;
    border-radius: 5px 5px 0 0;
    text-transform: uppercase;
}
.content_box_left.list_cat_news {
    background: #e80104;
    border: none;
}

.content_box_left.list_cat_news ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    line-height: 32px;
    display: block;
}

.content_box_left.list_cat_news ul li {
    padding: 0 15px;
    border-top: solid 1px #d24d4f;
}

.content_box_left {
    border-radius: 0 0 3px 3px;
    border: solid 1px #aaa;
}

.top_news_on_page .first {
    float: left;
    width: 579px;
    display: block;
    position: relative;
}

.top_news_on_page .first img {
    width: 240px;
    border: solid 1px #ccc;
    padding: 3px;
    float: left;
    margin-right: 15px;
}

.top_news_on_page .info {
    bottom: 4px;
    width: 524px;
    color: #333;
    text-decoration: none;
    display: block;
}

.top_news_on_page .info .name {
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    font-size: 16px;
}

.top_news_on_page .info .view {
    font-size: 11px;
    display: block;
    margin-bottom: 5px;
}

.content_box_left.list_hot_news li a {
    text-decoration: none;
    line-height: 16px;
    font-size: 13px;
    color: #333;
}

.content_box_left.list_hot_news li img {
    float: left;
    margin-right: 6px;
}

.content_box_left.list_hot_news li {
    overflow: hidden;
    border-top: dotted 1px #ccc;
    padding: 8px;
}

.content_box_left.list_hot_news li:first-child {
    border: none;
}
#content_news_page {
    width: 958px;
    float: right;
}
.top_news_on_page ul {margin-left: 590px;}

.top_news_on_page ul li img {
    float: left;
    margin-right: 8px;
    max-height: 70px;
}

.top_news_on_page ul li {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: solid 1px #eee;
}

.top_news_on_page ul li .name {
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.top_news_on_page ul li .summary {
    line-height: 18px;
}

.top_news_on_page ul li .view {
    display: block;
    color: #888;
    margin-bottom: 5px;
}

.top_news_on_page ul li:last-child {
    border: none;
}

.top_news_on_page ul li:first-child {
    padding-top: 0;
}

#list_news li img {
    float: left;
    margin-right: 10px;
}

#list_news li {
    overflow: hidden;
    padding: 13px 0;
    border-top: solid 1px #ddd;
}

#list_news li:first-child {
    border: none
}

#list_news li .name {
    font-size: 15px;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

#list_news li .view {
    color: #666;
}

#list_news li .summary {
    line-height: 21px;
}

#list_news li .summary a {
    padding-left: 5px;
}

#list_news li .summary a:hover {
    text-decoration: none;
}

.content_box_left.list_cat_news ul li:hover {
    background: #E44;
}

#detail_news h1 {
    margin-top: 0;
    font-size: 18px;
    margin-bottom: 5px;
}

#detail_news .time {
    color: #666;
    display: block;
    margin-bottom: 12px;
}

#share {
    margin-top: 20px;
    padding: 8px 10px;
    background: #eee;
}

.icon_send_mail.float_r {
    width: 106px;
    height: 15px;
    background-position: -490px -200px;
    margin-top: 1px;
}

.icon_print.float_r {
    width: 62px;
    height: 16px;
    background-position: -407px -199px;
    margin-right: 26px;
}

#tag_news {
    padding: 8px 0;
}

#tag_news b {
    font-weight: bold;
    font-size: 14px;
}

#tag_news a {
    text-decoration: none;
    padding: 3px 5px;
    background: #eee;
}

#other_news .box_other_news {
    float: left;
    width: 50%;
    padding-right: 15px;
    margin-top: 15px;
}

#other_news .box_other_news h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: #d00;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

#other_news a {
    text-decoration: none;
    color: #333;
}

#other_news li {
    padding: 4px 0;
}

#comment_news {
    margin-top: 20px;
}

#comment_news .title_box {
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: solid 2px;
    padding-bottom: 3px;
}

.top_newspage {
    width: 345px;
    height: 300px;
    display: block;
    border: solid 1px #ccc;
    position: relative;
    margin-left: 9px;
    float: left;
}

.top_newspage img {
    width: 100%;
    height: 100%;
}

.top_newspage:first-child {
    margin-left: 0;
}

.top_newspage span {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background: rgba(0, 0, 0, .7);
    color: white;
    font-size: 15px;
    overflow: hidden;
    left: 0;
    width: 100%;
    font-weight: 500;
}

.top_news_on_page .container .summary {
    line-height: 17px;
}

#hot_news_home {
    width: 250px;
    float: right;
}
.title-filter-collapse {
    text-transform: none !important;
}
#hot_news_home .h_title, .title_box_right .title-filter-collapse, .title_box_right h2{
    background:#e80104;
    text-transform:uppercase;
    font-size: 16px;
    color: #fff;
    line-height: 36px;
    padding: 0 10px;
    margin: 0;
    font-weight: 500;
}

#hot_news_home .content_box {
    border: solid 1px #ccc;
    padding-bottom: 10px;
    height: 263px;
}

#hot_news_home .top_news {
    padding: 10px;
    padding-top: 3px;
    overflow: hidden;
}

#hot_news_home .top_news img {
    width: 90px;
    float: left;
    margin-right: 7px;
}

#hot_news_home .top_news a {
    text-decoration: none;
    line-height: 16px;
    font-size: 13px;
    color: #333;
}

#hot_news_home ul {
    padding: 0 10px;
    list-style: none;
    margin: 0;
    clear: both;
}

#hot_news_home ul li a {
    text-decoration: none;
    font-size: 13px;
    color: #333;
}

#hot_news_home ul li {
    padding: 3px 0;
}

.title_box_center {
    background: #f2f2f2;
    height: 35px;
    line-height: 35px;
    overflow: hidden;
    border-bottom: 1px solid #d00306;
}

.title_box_center h2 {
    margin: 0;
    padding: 0 10px;
    float: left;
    font-size: 15px;
    color: white;
}

.title_box_center .sub_cat_title {
    float: left;
    padding-right: 10px;
    margin-left: 20px;
    line-height: 36px;
    max-width: 880px;
}

.title_box_center .sub_cat_title a {
    text-decoration: none;
    padding: 0 5px;
    border-left: solid 1px #444;
    color: #333;
    font-size: 13px;
}

#top_news_on_page .first {
    float: left;
    width: 450px;
    position: relative;
}

#top_news_on_page .first img {
    width: 450px;
    border: solid 1px #ccc;
}

#top_news_on_page .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, .7);
    color: white;
}

#top_news_on_page .info .name {
    font-size: 15px;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

#top_news_on_page .info .view {
    font-size: 12px;
}

#top_news_on_page ul li img {
    float: left;
    margin-right: 8px;
    border: solid 1px #ccc;
    padding: 3px;
}

#top_news_on_page ul li {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: solid 1px #ddd;
}

#top_news_on_page ul li .name {
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

#top_news_on_page ul li .summary {
    line-height: 18px;
}

#top_news_on_page ul li .view {
    display: block;
    color: #888;
    margin-bottom: 5px;
}

#top_news_on_page ul li:last-child {
    border: none;
}

#top_news_on_page ul li:first-child {
    padding-top: 0;
}
#top_news_on_page ul {
    margin-left: 465px;
}


#top_news_on_page ul li > a {
    float: left;
    display: block;
    width: 100px;
}

#top_news_on_page ul li{
    overflow:hidden;
}

#top_news_on_page ul li > div {
    margin-left: 110px;
}

.paging {
    margin: 6px 0;
    float: right;
    margin-top: 8px
}

.paging a {
    display: block;
    padding: 8px 10px;
    float: left;
    color: #333;
    line-height: 10px;
    margin-left: 5px;
    border: solid 1px #ddd;
    text-decoration: none;
}

.paging a.current,.paging a:hover {
    background: #d00306;
    color: #fff;
}

#menu_in_cart{height:35px;border:solid 1px #ddd;margin-bottom:20px;}
#menu_in_cart li{float:left;line-height:35px;}
#menu_in_cart li a{text-decoration:none;font-weight:bold;border-right:solid 1px #ccc;padding:0 15px;color: #333;}
#menu_in_cart li:last-child a{border:none;}
#guide_cart h1{color:#c80505;font-size:18px;margin:5px;margin-top:10px;}
#guide_cart p{margin:5px 0;}
#guide_cart p b{color: #e80104;}

#cart-step2 h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
    color: #e80104;
}

.tbl-verify {
    width: 100%;
}

.tbl-verify td {
    padding: 5px;
    border-top: solid 1px #eee;
}

#content_left {
    width: 210px;
    float: left;
    margin-right: 12px;
}

#content_center {
    width: 920px;
    float: left;
    min-height: 200px;
}

#content_right {
    width: 245px;
    min-height: 200px;
    float: right;
}
.top_area_list_page {
    height: 37px;
    background: #eee;
    padding: 0 0 0 8px;
    margin-bottom: 8px;
}

.top_area_list_page h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    line-height: 37px;
    float: left;
    margin-right: 40px;
    color: #e80104;
    font-weight: bold;
}
.sort_style {
    float: left;
    margin-top: 8px;
}
.sort_style a{
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
}
.sort_style a.active{
    color:#d00306;
}
.sort_pro {
    float: left;
    margin: 5px 0 0 20px;
}

.sort_pro select {
    height: 28px;
    border: solid 1px #ccc;
}

.top_area_list_page .paging {
    margin: 4px 10px;
}

.box_right {
    margin-bottom: 10px;
    overflow: hidden;
}

.title-filter-collapse .icon {
    position: absolute;
    right: 10px;
    font-size: 21px;
    color: #000;
    cursor: pointer;
    background: none;
}
.box_right .content_box {
    border: solid 1px #ddd;
    border-top: none;
    padding-top: 7px;
}

.box_right .content_box li a {
    text-decoration: none;
    color: #333;
}

.box_right .content_box li {
    padding: 7px 0;
    border-bottom: dashed 1px #ddd;
}

.box_right .content_box ul {
    margin-top: -5px;
    padding: 0 10px;
}

.box_right .content_box li:last-child {
    border: none;
}

.filter li input {
    vertical-align: middle;
}

.filter li {
    border: none !important;
    padding: 6px 0 !important;
}

.filter h3 {
    font-size: 14px;
    margin: 0 10px 8px 10px;
    padding-bottom: 5px;
    padding-left: 3px;
    border-bottom: 1px dashed #cacaca;
}

.filter li a {
    font-weight: normal !important;
}

#overview {
    float: left;
    width: 565px;
    margin-left: 20px;
}

#pro_detail_page {
    width: 935px;
    float: left;
}
#right_pro_page {
    width: 230px;
    float: right;
}

#img-detail {
    float: left;
    width: 350px;
}

#img-thumbs .item{
    border: solid 1px #ddd;
}
#img-thumbs {
    padding: 0 30px;
}

#img-thumbs .owl-prev {
    left: -30px;
}

#img-thumbs .owl-next {
    right: -30px;
}

#img-thumbs .owl-nav button {
    margin-top: -10px !important;
}
#overview h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 19px;
    font-family: 'Roboto';
}

.icon-star {
    background-image: url(../images/star_sprite.png);
    width: 92px;
    height: 17px;
    vertical-align: sub;
    display: inline-block;
    background-repeat: no-repeat
}

.icon-star.star0 {
    background-position: 0 -109px
}

.icon-star.star1 {
    background-position: 0 -88px
}

.icon-star.star2 {
    background-position: 0 -67px
}

.icon-star.star3 {
    background-position: 0 -43px
}

.icon-star.star4 {
    background-position: 0 -22px
}

.icon-star.star5 {
    background-position: 0 0
}
.product-summary h3 {
    font-size: 16px;
    font-weight: bold;
}

.product-summary .content {
    white-space: pre-line;
}

.p-price-full span {
    font-size: 40px;
}

.discount-inline {
    background: #e80104;
    color: #fff;
    padding: 2px 5px;
}

.product-offer {
    border: solid 1px #e80104;
    border-radius: 5px;
    margin-top: 30px;
}

.product-offer .title {
    background: #e80104;
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 30px;
    margin-top: -15px;
    margin-left: 15px;
}
.product-offer .title .fa{
    font-size:20px;
    margin-right:5px;
}
.product-offer .content {
    padding: 30px 10px 10px 10px;
}

.product-offer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-offer .content li img {
    width: 35px;
    float: left;
}

.product-offer .content li span {
    display: block;
}

.product-offer ul li {
    overflow: hidden;
    margin: 5px 0;
    color: red;
}
.product-offer ul li a {
    color: red;
}
.box_right {
    margin-bottom: 10px;
    overflow: hidden;
}

.title_box_right.black, .title_box_right.black .title-filter-collapse {
    background: #e5e5e5;
    position: relative;
    color: #333;
}
.title_box_right .title-filter-collapse:hover, .title_box_right .title-filter-collapse:hover .icon, .title_box_right .title-filter-collapse.active, .title_box_right .title-filter-collapse.active .icon{
    background:#e80104;
    color:#fff;
}
.title_box_right_detail {
    background: #ed1b24;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 10px;
    margin: 0 0 7px 0;
    font-weight: bold;
    line-height: 35px;
}

.title_box_right_detail.cufon span {
    border-bottom: solid 2px #000;
    font-size: 21px !important;
    padding-bottom: 3px;
}

.product-list-item-full .p-item {
    width: 100%;
    border: solid 1px #eee;
    margin-bottom: 5px;
}

.product-list-item-full {
    border: none;
}

#title_tab_scroll_pro {
    height: 41px;
    border-bottom: solid 1px #ccc;
    /* padding-left: 8px; */
    width: 100%;
    float: right;
    margin-top:20px;
    overflow: hidden;
}
#title_tab_scroll_pro.fixed {
    position: fixed;
    top: 26px;
    width: 935px;
    z-index: 99;
    margin-left: 0;
    background: #fff;
}

#title_tab_scroll_pro a {
    text-decoration: none;
    color: #333;
    line-height: 40px;
    padding: 0 10px;
    display: block;
    float: left;
    font-size: 14px;
    white-space: nowrap;
    border: solid 1px #ddd;
    background: #f5f5f5;
    margin-right: -1px;
}

#title_tab_scroll_pro a.current {
    background: #fff;
    border-bottom-color: #fff;
    border-top: solid 2px #d00;
    margin-top: -1px;
    color: #e00;
}
.slider-image .item img{max-width:100%;width: auto !important;height:auto;margin: auto;}

#support_online_detail {
    border: solid 1px #ddd;
    padding: 5px 10px;
    margin-top: 15px;
}
#support_online_detail td{
    padding:2px 5px;
}
#support_online_detail .title {
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 5px;
    text-transform:uppercase;
}

#support_online_detail a {
    text-decoration: none;
    color: #333;
}

#support_online_detail .fa {
    color:#16bac1;
}

#tbl_cacchinhsach td {
    padding: 2px 10px;
}

#tbl_cacchinhsach {
    width: 100%;
    border: solid 1px #ddd;
}

#tbl_cacchinhsach .fa {
    color: #0996da;
}

#button_buy .btn b {
    display: block;
    text-transform: uppercase;
    font-size: 16px;
}

#button_buy .btn-buynow {
    background: #e80104;
    color: #fff;
}

#button_buy .btn {
    display: block;
    font-size: 13px;
}

#button_buy .btn-addcart {
    border: solid 1px #e80104;
    color: #e80104;
}

#button_buy .btn-tragop {
    background: #f9a421;
    color: #fff;
    border: solid 1px #dc8f18;
}

#button_buy {
    margin: 0 -5px;
}

#button_buy > div {
    padding: 0 5px;
}

.title_box_scroll {
    text-transform: uppercase;
    font-size: 21px;
    margin: 20px 0;
    font-weight: bold;
    border-bottom: solid 2px;
    padding-bottom: 3px;
}

.rating-selection {
    display: inline-block;
}

.rating-selection .title {
    float: right;
    margin-right: 10px;
}

.rating-selection label {
    float: right;
}

.rating-selection input {
    opacity: 0;
}

.rating-selection label {
    position: relative;
    float: right;
    display: block;
    width: 17px;
    height: 17px;
    background: url('../images/star_rating.png') 0 -28px;
    margin: 0 3px;
}

.rating-selection label.active,.rating-selection label.active ~ label {
    background-position: 0 18px;
}

.rating-selection label:hover ~ label,.rating-selection label:hover {
    background-position: 0 0 !important;
}

.comment {
    width: 100%;
}

.comment-form .img-avatar {
    float: left;
    width: 40px;
}

.comment-form form {
    margin-left: 50px;
    padding-bottom: 15px;
}

.comment-form-input {
    border: solid 1px #ddd;
    background: #f8f8f8;
    padding: 10px;
    position: absolute;
    width: 100%;
    display: none;
}

.comment-list .item {
    padding: 15px 0;
    border-top: solid 1px #eee;
}

.comment .relative {
    position: relative;
    z-index: 9;
}

.comment-list .item .comment-left img {
    width: 40px;
    float: left;
}

.comment-list .item .comment-right {
    margin-left: 50px;
}

.comment-list .item .reply-comment {
    display: none;
}

.info-feeback .time {
    float: left;
    color: #999;
}

.info-feeback .right {
    float: right;
}

.info-feeback {
    overflow: hidden;
    padding-bottom: 10px;
}

.comment-list .item .comment-name span {
    font-weight: bold;
    margin-right: 2px;
}

.comment-list .item .comment-name .note {
    color: #e00;
    font-size: 0.7em;
}

.comment form .form-control {
    margin-bottom: 5px;
}


#tbl_list_style_pro {
    width: 100%;
}

#tbl_list_style_pro .p-price span {
    font-size: 32px;
}

#cart-fixed {
    position: fixed;
    top: 100px;
    right: 2px;
    z-index: 99;
    background: rgba(255, 255, 255, 0.88);
    border: solid 1px #ddd;
    border-radius: 35px;
    padding: 5px;
    -moz-border-radius: 35px;
    cursor: pointer;
    width: 49px;
    height: 49px;
    overflow: hidden;
    transition: width 0.3s linear 0.2s;
    -webkit-transition: width 0.3s linear 0.2s;
    line-height: 18px;
    white-space: nowrap;
    font-size: 13px;
}

div#cart-fixed p {
    display: block;
    margin: 0;
    margin-left: 46px;
    padding-right: 8px;
    width: 104px;
}

#cart-fixed:hover, #cart-fixed.hover {
    width: 175px;
}

div#cart-fixed b {
    color: #136ed2;
}

#cart-fixed i {
    text-align: center;
    font-size: 26px;
    background: #ed1b24;
    color: #fff;
    width: 37px;
    height: 37px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    float: left;
    line-height: 37px;
}

#copyright-bottom {
    text-align: center;
    padding: 5px 0;
    font-size: 13px;
}

.home-special-product.deal-home .title-box{background-color:#d42333;height: 50px;line-height: 50px;padding: 0 10px;}
.home-special-product .title-box .time span{display:inline-block;height:40px;background:#000;color:#fff;line-height:40px;padding:0 8px;font-size:26px;vertical-align:middle;border-radius:3px;font-weight:bold;margin:0 3px;min-width:30px;text-align:center;}
.home-special-product .title-box a{float:right;font-size:15px;}

.home-special-product.deal-home .title-box h2 {
    float: left;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 0;
    line-height: 50px;
    margin-right: 50px;
    font-family: 'Roboto Condensed';
    font-size: 28px;
}

.home-special-product .title-box .time {
    float: left;
}

.home-special-product.deal-home {
    border: solid 1px #d42333;
    margin-bottom: 15px;
    min-height:200px;
}

.home-special-product.deal-home .product-list {
    border: none;
}

.black {
    color: #fff !important;
}
.d-item .p-name {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    margin-top: 10px;
}

.d-item .p-price,.d-item .price-shadow {
    position: relative;
    display: inline-block;
    margin-right: 6px;
    font-size: 26px;
}

.custom-nav-small .owl-nav {
    margin: 0 !important;
}

.custom-nav-small .owl-nav button {
    position: absolute;
    color: #999 !important;
    top: 50%;
    transition: all 0.2s ease;
    outline: none;
    margin: -16px 10px 0 10px !important;
    z-index: 99999;
}

.custom-nav-small .owl-nav button i {
    font-size: 30px;
}

.custom-nav-small .owl-nav .owl-prev {
    left: 0;
    border-radius: 0 4px 4px 0;
}

.custom-nav-small .owl-nav .owl-next {
    right: 0;
}

.custom-nav-small .owl-nav button:hover {
    opacity: 1;
    background: none !important;
}

.p-order-status{height: 23px;line-height:23px;border:solid 1px #d42333;border-radius: 30px;margin-top: 14px;position:relative;}
.p-order-status .text{padding-left:10px;font-size: 12px;position:absolute;color:#fff;}
.p-total-offer-2019{margin-top:15px;display:block;height:14px;}
.p-order-status .bg-count-left{display:block;float:left;background:#d42333;width:30%;height:100%;border-radius: 30px 0 0 30px;}
.icon-order-status-deal{background: url(../images/sprite.png) -275px -40px no-repeat;width: 26px;height: 36px;display:block;position:absolute;bottom: -1px;left:30%;margin-left: -21px;}

#config .item {
    display: inline-block;
    border: solid 1px #ddd;
    padding: 3px 15px;
    border-radius: 3px;
    margin: 3px;
    cursor:pointer;
    position: relative;
}

#config {
    text-align: left;
    padding-left: 20px;
}

#config .item.selected {
    border-color: #e80104;
}
#config .item.selected:before {
    content:'';
    background: url(../images/checkbox-product.png) right bottom no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
}

#time-deal-detail span {
    background: #e80104;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    font-weight: bold;
}

#time-deal-detail {text-align: right;}

#time-deal-detail .title {
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
}

.home-special-product.hot-deal {
    background: #fff;
}

.item-hot-deal .image {
    width: 570px;
    float: left;
    position: relative;
}

.item-hot-deal .info {
    margin-left: 590px;
}
.item-hot-deal .info .name {
    font-weight: 500;
    font-size: 24px;
}

.item-hot-deal {
    padding: 20px;
    overflow: hidden;
}

.item-hot-deal .info .detail_summary {
    margin: 20px 0;
}

.offer_detail_hot_deal {
    line-height: 22px;
    border-top: solid 1px #ddd;
    padding-top: 15px;
}
.time-hot-deal {
    float: left;
}

.time-hot-deal .time span {
    font-weight: bold;
    font-size: 25px;
}

.item-hot-deal .p-order-status {
    margin-left: 240px;
    max-width: 300px;
}
.item-hot-deal .deal-status {
    overflow: hidden;
    border-top: solid 1px #ddd;
    padding-top: 15px;
    margin-top: 15px;
}
.item-hot-deal .btn-cart {
    font-size: 28px;
    font-weight: bold;
    padding: 0 60px;
    margin-top: 20px;
}
.icon-discount-hot-deal {
    display: block;
    width: 107px;
    height: 107px;
    background: url(../images/icon_discount_deal.png);
    line-height: 107px;
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
}
.time-start {
    height: 23px;
    border: solid 1px #ddd;
    border-radius: 23px;
    margin-top: 10px;
    line-height: 24px;
    padding: 0 10px;
    font-size: 12px;
}

.time-start span {
    font-weight: bold;
}
#icon-fixed-left {
    width: 55px;
    background: #fff;
    box-shadow: 1px 2px 6px #cecece;
    margin-left: 10px;
    position: fixed;
    left: 0;
    top: 209px;
}

#icon-fixed-left a {
    display: block;
    text-align: center;
    border-bottom: solid 1px #f0eded;
    padding: 5px 0;
}

#icon-fixed-left i {
    width: 36px;
    height: 30px;
}

.btn-large-red {
    background: #e80104;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff !important;
    padding: 5px 40px;
    font-size: 30px;
    margin-top: 20px;
    display: block;
}

.title-box-deal-list h2 {
    height: 50px;
    background: #e80104;
    text-align: center;
    text-transform: uppercase;
    line-height: 50px;
    margin: 0;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    margin-top:15px;
}

.product-list.row {
    margin: 0 -5px;
    border: none;
}

.product-list.row .d-item {
    border: solid 1px #eee;
    margin: 5px 0;
}

.product-list.row > div {
    padding: 0 5px;
}

#nav-right .item .support-content {
    position: absolute;
    background: #fff;
    z-index: 99;
    left: -18px;
    width: 696px;
    line-height: 1.5;
    display: none;
}

#nav-right .item .support-content b {
    color: #333;
}

#nav-right .item .support-content table {
    width: 100%;
}

#nav-right .item .support-content td {
    padding: 10px 5px;
}

#nav-right .item:hover .support-content {
    display: block;
}

#social-right-fixed {
    position: fixed;
    right: 5px;
    top: 50%;
    margin-top: -90px;
    z-index: 99;
    width: 38px;
}
#social-right-fixed a{
    display:block;
    margin-bottom:3px;
}
#social-right-fixed a i.icons {
    width: 33px;
    height: 33px;
}

.icons.icon-sright-fb {
    background-position: -450px 0;
}
.icons.icon-sright-yo {
    background-position: -450px -35px;
}
.icons.icon-sright-mail {
    background-position: -450px -71px;
}
.icons.icon-sright-up {
    background-position: -450px -141px;
}
.icons.icon-sright-tel {
    background-position: -450px -107px;
}

.popup-common {
    position: fixed;
    z-index: 9999999;
    width: 500px;
    top: 50px;
    left: 50%;
    margin-left: -225px;
    background: #fff;
    border: solid 3px #056bad;
    border-radius: 8px;
    display: none;
}

#bg-opacity {
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    display: none;
}

.title-popup span {
    font-size: 18px;
}

.title-popup .close {
    float: right;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
}

.title-popup {
    height: 40px;
    line-height: 40px;
    border-bottom: solid 1px #ddd;
    padding: 0 15px;
}

.content-popup {
    padding: 20px;
}
.hover_content_pro{display:none;}
#tooltip{position:absolute;display:none;background: #fff;z-index: 99999;width: 500px;border: solid 1px #333;}
#tooltip table{width:100%;}
#tooltip table td{padding: 3px 10px;vertical-align: top;}
.hover_name{display:block;padding:5px 10px;font-size:15px;overflow:hidden;line-height:18px;background:#db0006;color:#fff;font-weight:700;padding-right:80px;}
.hover_brand{float:right;padding-right:5px;padding-top:5px;position:absolute;right:0}
.hover_brand img{max-width:75px;max-height:32px}
.hori_line{clear:both;height:0;border-top:solid 1px #ccc;margin:5px 0}
.hover_content_pro table td{padding:2px 0;vertical-align:top;}
.hover_content_pro table{padding:0 10px;margin-top:0;}
.hover_offer,.hover_summary{padding:0 10px;line-height:17px;max-height:120px;overflow:hidden;}
.hover_offer b,.hover_summary b{color:#e00;font-size:13px}
#tooltip .p-price-full {
    margin-top: 21px;
}
.hover_offer{font-weight:700;color:#e00;font-style:italic;}

.nd h1 {
    display: block;
    font-size: 2em !important;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin:0.67em 0;
}

.nd h2{
    display: block;
    font-size: 1.5em !important;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    margin:0.83em 0;
}

.nd h3 {
    display: block;
    font-size: 1.17em !important;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
.nd h4{
    display: block;
    -webkit-margin-before: 1.33em;
    -webkit-margin-after: 1.33em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    font-size:1em !important;
}
.nd ul{
    padding-left:40px !important;
    margin:1em 0;
    list-style: initial;
}
.nd ul li,.nd ol li{
    list-style: initial !important;
}
.nd ol{
    padding-left:40px !important;
    margin:1em 0;
    list-style: decimal !important;
}
.nd ol li{
    list-style-type:decimal !important;
}
.nd p{
    margin:1em 0;
}
.nd table{
    border-collapse:collapse;
}
.nd table td,.nd table th{
    padding:5px;
}
.nd a{font-size:initial;}
.nd{line-height:1.45;}
.nd table td img{max-width:9999px;}
#top .login a, #top .cart {color:#fff}

.product-list-home {
    min-height: 300px;
}
#category-fixed{
    position:fixed;
    top: 50%;
    transform: translate(0,-50%);
    width:45px;
    background:#eee;
    z-index:992;
    padding:0;
    left:5px;
    display:none;
}

#category-fixed a{display:block;text-align:center;width:45px;transition:all .8s ease;position:relative;border-radius:2px;-moz-border-radius:2px;padding: 5px 0;font-size: 16px;}
#category-fixed a:hover span{opacity:1;visibility:visible}
#category-fixed a span{visibility:hidden;display:block;position:absolute;background:#fff;border:solid 1px #ddd;left:53px;z-index:99;white-space:nowrap;top:0;padding:7px 9px;border-radius:6px;-moz-border-radius:6px;opacity:0;transition:all .5s ease;color:#000;background:#e20a0a;color:#fff;font-size: 12px;}
#category-fixed a span:before{content:'';display:block;width:0;border:solid 5px transparent;border-right-color:#e20a0a;position:absolute;left:-10px;top:7px}
#category-fixed a span:after{content:'';display:block;width:0;border:solid 5px transparent;border-right-color:#e20a0a;position:absolute;left:-10px;top:7px}
#category-fixed a:hover,#category-fixed a.active{background:#d00306;}
#category-fixed a:hover i,#category-fixed a.active i{color: #fff;}

.fb_dialog.fb_dialog_advanced.fb_customer_chat_bubble_animated_no_badge.fb_customer_chat_bubble_pop_in {
    bottom: 100px !important;
}
#pro_detail_page .product-summary .item, #pro_detail_page .product-offer, #pro_detail_page .detail-bh, #pro_detail_page .detail-gh, #overview {
    font-size: 16px;
}
.banner-fix-left {
    width: 70px;
    float: left;
    position: fixed;
    z-index: 98;
    top: 176px;
    margin-left: -75px;
}
.banner-fix-right {
    width: 70px;
    position: fixed;
    z-index: 98;
    top: 176px;
    margin-left: 1185px;
}
.banner-fix-scroll {
    top: 100px;
}
.banner-fix-left .item, .banner-fix-right .item {
    width: 100%;
    float: left;
}
