/* global 3rd libs */
@import url("https://cdn.jsdelivr.net/npm/normalize.css@8.0.1");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.css");

/* global */
.global-container {

}

a, a:hover {
    text-decoration: none;
}

.ul, .format {
    margin: 0;
    padding: 0;
    list-style: none;
}

.text-10 {
    font-size: 10px;
}

.text-11 {
    font-size: 11px;
}

.text-12 {
    font-size: 12px;
}

.text-13 {
    font-size: 13px;
}

.text-14 {
    font-size: 14px;
}

.text-15 {
    font-size: 15px;
}

.text-16 {
    font-size: 16px;
}

.text-17 {
    font-size: 18px;
}

.text-18 {
    font-size: 18px;
}

.text-20 {
    font-size: 20px;
}

.text-25 {
    font-size: 25px;
}

.text-30 {
    font-size: 30px;
}

.transition {
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}

.line-h19 {
    line-height: 19px;
}

.line-h22 {
    line-height: 22px;
}

.line-h25 {
    line-height: 25px;
}

.line-h30 {
    line-height: 30px;
}

.shadow-5 {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.shadow-10 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/*======================================
End
========================================*/
